.decryptPage-container {
    display: grid;
    justify-items: center;
}

.decrypt-title {
    grid-column: 1;
    justify-self: center;
}

.decryptForm-container {
    grid-column: 1;
    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 50px;
}